<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">

        Liens Amis
        <ul>
          <li><a href="https://www.bodhicharya-france.org/">Bodhicharya-France</a></li>
          <li><a href="https://bodhicharya.org/">Bodhicharya (international)</a></li>
          <li><a href="https://www.ueabg.fr/">Une école à Bodh Gaya</a></li>
        </ul>

      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>

</footer>
